/**
 * ==========================================
 * Neurovia
 * File: reset.css
 * Purpose: Reset browser default styles
 * Author: Sangram Soren
 * ==========================================
 */

/* ==========================
   CSS RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
}